*{
    box-sizing: border-box;
    outline: none;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    
}
h3{
    color: #df11a8;
    margin: 30px auto;
}
.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: #ffa000; */
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.CheckOut{
    display: flex;
     width: 50%;
     height: 95%;
     background-color: rgb(255, 255, 255);
     box-shadow: 0px 0px 30px 15px rgb(0, 0, 0,0.2);
 }
 
 
 .Form{
    padding: 10px 20px;
     width: 100%;
     height: 100%;
     overflow: hidden;
    overflow-y: scroll;
    
 }
 .Form h1{
     top: 0px;
    text-align: center;
 }


 .wrapper{
    width: 100%;
    padding: 0px 90px;
    justify-content: center;
    align-items: center;
  }
  .wrapper .input-data{
    height: 40px;
    width: 100%;
    margin: 35px 0px;
    position: relative;
  }
  .wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
  }
  .input-data input:focus ~ label,
  .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color:#ec38bc;
  }
  .wrapper .input-data label{
    position: absolute;
    bottom: 20px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .input-data .underline{
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #ec38bc;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before{
    transform: scaleX(1);
  }

  
  /* To Hide Spin Arrow for chrome sfari  */
  
  input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }
  

/* Place Order button */
#PlaceOrderBtn {background-image: linear-gradient(to right, #ff0084 0%, #33001b  51%, #ff0084  100%)}
#PlaceOrderBtn {
    margin: 60px auto;
    width: 330px;
    height: 60px;
    font-size: 25px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 40px;
    border: none;
    display: block;
    text-decoration: none;
    cursor: pointer;
 }

#PlaceOrderBtn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;

 }