 *{
     box-sizing: border-box;
     outline: none;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: #ffa000; */
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.frame{
    /* display: flex; */
     width: 90%;
     height: 90%;
     padding: 40px;
     background-color: rgb(255, 255, 255);
     margin: auto;
    justify-content: center;
    text-align: center;
     box-shadow: 0px 0px 30px 15px rgb(0, 0, 0,0.2);
 }
.frame img{
    width: 28%;
    height: 50%;
    justify-content: center;
    margin: auto;
}
.frame h1 {
    color: rgb(35, 221, 221);
}
.frame h3 {
    color: gray;
}

#back {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
#back {
   margin: auto;
   padding: 15px 45px;
   width: 222px;
   height: 50x;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border: none;
   border-radius: 10px;
   display: block;
 }

 #back:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
