*{
    box-sizing: border-box;
    outline: none;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}
#Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: #ffa000; */
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.Payment{
    display: flex;
     width: 90%;
     height: 90%;
     background-color: rgb(255, 255, 255);
     box-shadow: 0px 0px 30px 15px rgb(0, 0, 0,0.2);
 }

 .ProductView{
    width: 40%;
    height: 100%;
    background: url(../img/chekout/beauty.jpg) center center;
    background-size: cover;
    
    background-repeat: no-repeat;
    transition: 20s;

    animation-name: ImageAnimate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite ;
    animation-play-state: running;
    animation-timing-function: step-start;
}
@keyframes ImageAnimate{
    0%{
        background: url(../img/changingimg/pexels-amina-filkins-5561137.jpg) center center;
         background-size: cover;
    }
    20%{
        background: url(../img/changingimg/pexels-dmitry-zvolskiy-1721934.jpg) center center;
         background-size: cover;
    }
    40%{
        background: url(../img/changingimg/pexels-polina-tankilevitch-4109996.jpg) center center;
         background-size: cover;
    }
    60%{
        background: url(../img/chekout/pexels-dalila-dalprat-1889651.jpg) center center;
         background-size: cover;
    }
    80%{
        background: url(../img/changingimg/pexels-jess-bailey-designs-913136.jpg) center center;
         background-size: cover;
    }
    100%{
        background: url(../img/changingimg/pexels-kristina-paukshtite-1998635.jpg) center center;
         background-size: cover;
    }
    
}
.ProductBill{
    padding: 40px;
     width: 80%;
     height: 100%;
   
 }
 .ProductBill h1{
     top: 0px;
     text-align: center;
 }
 .ProductBill h2{
    color: #e40baa;
    font-family: 'Roboto', sans-serif;
    text-align: center;
 }
 .ProductBill h3{
    color:  #e40baa;
    font-weight: 200;
 }
.detail ul{
    
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.detail ul li{
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    color: gray;
}
.CheckOutBtn {background-image: linear-gradient(to right, #ff0084 0%, #33001b  51%, #ff0084  100%)}
.CheckOutBtn {
    margin: 60px auto;
    width: 330px;
    height: 60px;
    font-size: 25px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 40px;
    border: none;
    display: block;
    text-decoration: none;
    cursor: pointer;
 }

 .CheckOutBtn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;

 }