*{
    box-sizing: border-box;
    outline: none;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: #ffa000; */
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

}
.payment{
   display: flex;
    width: 90%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 15px rgb(0, 0, 0,0.2);
}
.payment_product{
    width: 40%;
    height: 100%;
    background: url(../img/chekout/beauty.jpg) center center;
    opacity: 0px;
    background-size: cover;
    
}
.payment_bill{
   padding: 40px;
    width: 80%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
.payment_bill h1{
    text-align: center;
    top: 0px;
}
.payment_bill h3{
    color:#e40baa;
    font-weight: 200;
    
}
.productid h3{
    display: inline-block;
}
.payment_bill p{
    color: gray;
}
#productName{
    color: #000000;
    font-size: 20px;
    margin-top: 0px;
}
/* Product image */
#ProductImage{
    height: 225px;
    width: 225px;
    position: relative;
    margin: -151px 423px;
}


#price{
    font-size: 25px;
}
#rupeesign{
    font-size: 25px;
}


/* Rdio Buttons */
.weightOption input[type="radio"]{
    display: none;
}
.weightOption label{
    position: relative;
    border: 2px solid#e40baa;
    padding: 8px;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}
.weightOption label:before{
    content: " ";
    height: 15px;
    width: 15px;
    padding-right: 19px;
    border: 2px solid #e40baa;
    border-radius: 50%;
    margin-right: 20px;

}
.weightOption input[type="radio"]:checked + label{
    background-color: aliceblue;
    color:#e40baa;
}
.weightOption input[type="radio"]:checked + label:before{
    height: 16px;
    width: 16px;
    border: 5px solid rgb(228, 228, 228);
    background-color: #e40baa;
}
#WeightErrorMessage{
    color: red;
}
/* make it eggless check box */

/* Buy Now Button */

#buynow input {background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%)}
#buynow input {
    margin: 60px auto;
    padding: 15px 45px;
    font-size: 28px;
    width: 300px;
    height: 65px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    background-size: 200%;
    color: white;
    box-shadow: rgb(238, 238, 238) 0px 0px 20px;
    border-radius: 10px;
    display: block;
    cursor: pointer;
 }

 #buynow input:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

        

/* Number Spin */

.numspin{
    display: flex;
    
}
.numspin input{
    width: 80px;
    font-size: 20px;
    margin: 0px 10px;
    padding: 10px;
    border: 1px solid#e40baa;
    background-color: aliceblue;
   
} 
.numspin button{
    width: 45px;
    height: 45px;
    border: 1px solid#e40baa;
    color: #e40baa;
    font-size: 24px;
    background-color: white;
}
.numspin input:hover{
    border-color:#e40baa;
}
.numspin label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.html{
    scroll-behavior: smooth;
}
